@import "Variables.css";

#main-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

#main-page-header {
    position: sticky;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem
}

#main-page-logo {
    font-size: 1.3rem;
}

#main-page-nav {
    font-size: 1.3rem;
    display: flex;
}

#goto-new-questions {
    margin-left: 1rem;
}

#goto-new-athlete {
    margin-left: 1rem;
}

#main-page-athlete-list {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

#main-page-search {
    display: flex;
    align-items: center;
    background-color: var(--whiteishGray);
    border-radius: 1.8rem;
    padding: 0.33rem;
    width: 23rem;
    margin: 1.2rem;
}

#main-page-search-input {
    flex: 1;
    padding: 0.7rem;
    border: none;
    border-radius: 1.8rem;
    outline: none;
}

#main-page-search-clear {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: black;
    margin-left: -1.5rem;
    margin-right: 1.5rem;
    margin-top: -0.15rem;
}

#main-page-search-button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 1.8rem;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    margin-left: 0.33rem;
}

#main-page-search-button:hover {
    background-color: var(--darkBlue);
}

#main-page-athlete-table {
    border-collapse: collapse;
}

#main-page-athlete-table th, td {
    text-align: left;
    padding: 0.8rem;
    border: none;
    border-bottom: 1px solid var(--slightGray);
}