@import "Variables.css";

#new-report-page-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
}

#new-report-page-logo {
    font-size: 1.3rem;
}

#new-report-page-nav {
    font-size: 1.3rem;
    display: flex;
}

#new-report-page-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
}

#new-report-page-title {
    font-size: 2.5rem;
}

#new-report-page-id {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

#new-report-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
}

#new-report-page-status-section {
    display: flex;
    flex-direction: row;
}

#new-report-page-status-section-select {
    border-radius: 1.8rem;
    width: 20rem;
    margin-left: 1rem;
    text-align: center;
}

#new-report-page-interval-expected-table {
    border-collapse: collapse;
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

#new-report-page-interval-expected-table td {
    border: none;
    padding: 5px;
    text-align: left;
    background-color: transparent;
}

#new-report-page-interval-achived-table {
    border-collapse: collapse;
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

#new-report-page-interval-achived-table td {
    border: none;
    padding: 5px;
    text-align: left;
    background-color: transparent;
}

.new-report-page-interval-achived-point-input {
    border-radius: 1.8rem;
    width: 14rem;
    text-align: center;
}

#new-report-page-questions-section {
    margin-top: 2rem;
}

.new-report-page-question {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1;
    font-size: 1.4rem;
}

.new-report-page-question-input {
    border-radius: 1.8rem;
    width: 30rem;
}

.new-report-page-question-radio-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.new-report-page-question-radio {
    font-size: 1.5rem;
    margin-right: 1.4rem;
}

.new-report-page-question-radio-input {
    margin-right: 0.3rem;
}

.new-report-page-question-emoji-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.new-report-page-question-emoji {
    font-size: 2.5rem;
    margin-right: 1.5rem;
}

#new-report-page-comment-section {
    margin-top: 2rem;
}

#new-report-page-comment-textarea {
    border-radius: 1.8rem;
    width: 25rem;
    height: 10rem;
}

#new-report-page-save {
    display: flex;
    justify-content: flex-end;
}

#new-report-page-save-button {
    font-size: 2rem;
    margin-top: 1.4rem;
    margin-right: 1.4rem;
    margin-bottom: 1.4rem;
}